<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>03-06</title>
</head>

<body>
  <div id="app">
    위의 내용에 동의하십니까?
    <!-- <input type="checkbox" v-model="agree"> -->
    <!-- 체크 여부에 따라서 전달되는 값이 true/false로 전달됨 -->

    <input type="checkbox" v-model="agree" true-value="yes" false-value="no">
    <!-- true/false로 전달되는 값을 다른 내용으로 넘기려면
       true-value="텍스트" 형식을 추가해 준다 -->

    <hr>
    <span>선택된 값 : {{agree}}</span>
  </div>

  <script src="https://unpkg.com/vue"></script>
  <script src="03-06.js"></script>
</body>

</html>